body {
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
    background-size: cover;
    background-color: white;
    font-family: sans-serif;
}

.nav {
    background-color: navy;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    font-weight: normal;
}

    .nav * {
        display: inline;
    }

    .nav li {
        margin: 20px;
    }

    .nav li a {
        color: goldenrod;
        font-size: 20px;
        text-decoration: none;
    }

    .nav li:hover {
        font-weight: bold;
        /* text-decoration: underline; */
    }

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.card {
    flex: 1 1 300px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: navy;
    color: goldenrod;
    text-decoration: none;
}

.card h4 {
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}